<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Article</title>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </head>
    <body>
        <h1>{{ article[1] }}</h1>
        <p>By {{ article[2] }} on {{ article[4] }}</p>
        <div id="content"></div>

        <script>
            const markdown = `{{ article[3] }}`;
            document.getElementById('content').innerHTML = marked.parse(markdown);
        </script>
    </body>
</html>

