<!doctype html>
<html>
    <head>
        <title>Edit Torrent</title>
    </head>
    <body>
        <h1>Edit Torrent {{ torrent_id }}</h1>
        <form method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="{{ current_name }}"><br><br>

            <label for="image_link">Image Link:</label><br>
            <input type="text" id="image_link" name="image_link" value="{{ current_image_link }}"><br><br>

            <label for="description">Description:</label><br>
            <textarea id="description" name="description">{{ current_description }}</textarea><br><br>

            <h2>Attributes</h2>
            {% for attribute_name, attribute_values in current_attributes.items() %}
                <label>{{ attribute_name }}:</label><br>
                {% for attribute_value in attribute_values %}
                    <input type="text" name="{{ 'attribute_' + attribute_name }}" value="{{ attribute_value }}"><br>
                {% endfor %}
                <br>
            {% endfor %}

            <input type="submit" value="Save">
        </form>
    </body>
</html>

