<!DOCTYPE html>
<html>
<head>
	<title>Torrents</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<div class="container">
		{% if session.logged_in %}
			<p style="text-align: right; margin: 0;">Welcome, {{ session.username }}! | <a href="/upload" class="button">Upload Torrent</a> | <a href="/account/{{ session.username }}" class="button">My Account</a> | <a href="/logout" class="button">Logout</a></p>
		{% else %}
			<p style="text-align: right; margin: 0;"><a href="/login" class="button">Login</a> <a href="/register" class="button">Create Account</a></p>
		{% endif %}
		<h1>Welcome to Stablebay</h1>
		<a href="/torrents" class="button">View Torrents</a>
    	<p>StableBay takes $10 to run per month. Support us on <a href="https://ko-fi.com/stablebay" target="_blank">Ko-fi</a>.</p>
	</div>
</body>
</html>

