<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ torrent.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        img {
            width: 400px;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="torrent-container">
        <h1>{{ torrent.name }}</h1>
        <img src="{{ torrent.image_link }}" alt="{{ torrent.name }}">
        <h2>Category: {{ torrent.category }}</h2>
        <p>{{ torrent.description }}</p>
        <h3>Torrent Attributes:</h3>
        <ul>
            {% for name, value in torrent.attributes.items() %}
            <li>{{ name }}: {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
