<!DOCTYPE html>
<html>
<head>
    <title>Torrents</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div style="text-align: right;">
        <a href="/">StableBay</a>
    </div>
    <div class="torrents-container">
        {% for torrent in torrents %}
            <a href="/torrents/{{ torrent.id }}" class="torrent-box-link">
                <div class="torrent-box">
                    <img src="{{ torrent.image_url }}" alt="{{ torrent.name }}">
                    <div class="torrent-details">
                        <h3>{{ torrent.name }}</h3>
                        <p>Uploaded by: {{ torrent.uploaded_by }}</p>
                        <p>Category: {{ torrent.category }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>

